@import url('reset.css');
@import url('fontes.css');
@import url('cores.css');
@import url('componentes.css');


.linha .info {
    display: flex;
    margin-bottom: 1em;
}

.linha .info div {
    margin-right: 1em;
}

.linha-conteudo p {
    margin: 1em 0;
}