@import url('https://fonts.googleapis.com/css?family=Open Sans');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

body {
    font-size: 90%;
    font-family: 'Arial', sans-serif;
}

/* 
Tamanhos relativos
=================

2       = 32px
1.5     = 24px
1.125em = 18px
1.25em  = 20px
1em     = 16px
0.75em  = 12px
0.5em   = 8px
0.25em  = 4px

*/

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.125em;
}

p, button, input, textarea, select {
    font-size: 1em;
}