.tabela {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-tabela-fundo);
}

.tabela .tabela-header {
    font-weight: 700;
    color: var(--cor-tabela-frente-header);
    background-color: var(--cor-tabela-fundo-header);
    box-shadow: 0 2px 2px var(--cor-tabela-sombra-header);
    display: flex;
}

.tabela .tabela-corpo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.tabela .tabela-corpo * {
    color: var(--cor-tabela-frente-corpo);
}

.tabela .linha {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: var(--cor-tabela-borda-topo-linha);
    border-bottom-color: var(--cor-tabela-borda-base-linha);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
}

.tabela .linha:nth-child(1) {
    border-top-width: 0;
}

.tabela .linha:hover {
    background-color: var(--cor-tabela-fundo-linha-selecionada);
}

.tabela .linha-selecao {
    width: 1.2em;
    padding: .5em .5em;
}

.tabela .linha-conteudo {
    flex-grow: 1;
    padding: .5em .5em;
}

.tabela .linha-acoes {
    padding: .5em .5em;
}

.tabela .tabela-footer {
    background-color: var(--cor-tabela-fundo-rodape);
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: var(--cor-tabela-borda-topo-rodape);
    padding: .5em 1em;
}

.tabela .tabela-footer * {
    color: var(--cor-tabela-frente-rodape);
}